# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Build outputs
dist
dist-ssr

# Coverage
coverage

# Dependencies
node_modules

# Environment files
.env.local
.env.*.local

# Editor directories and files
.DS_Store
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Turbo
.turbo
